body {
  background-color: lightcyan;
  backface-visibility: inherit;
  opacity: 3;
  font-size: 20px;

p {
  font-family:sans-serif;
  font-style: initial;
  font-display: 100%;
  
}
form {
  background-color: khaki;
}
h1 {
  text-decoration-color: lightseagreen;
  color: antiquewhite;
  background-color: black;
}